@font-face {
  src: url('../fontovi/Code\ Pro\ Bold.otf');
  font-family: 'Code Pro Bold';
}
@font-face {
  src: url('../fontovi/Poppins-Regular.ttf');
  font-family: 'Poppins';
}
@font-face {
  src: url('../fontovi/Poppins-Bold.ttf');
  font-family: 'Poppins Bold';
}
html{
  overflow-y: scroll;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body{
  background-color: white;
}
.nav-box {
  height: 200px;
}
nav{
  padding: 25px;
  height: 100px;
  width: 100%;
  background-color: white;
  z-index: 999;
  box-shadow: 0px 10px 10px 0 rgba(0,0,0,0.25);
  margin-bottom: 75px;
  position: fixed;
}

.omotac{
  margin: 0 auto;
  width: 1350px;
}
/*Navigaotri pocetak*/
nav p{
  float: left;
  font-family: 'Code Pro Bold';
  color: #00baf2;
  font-size: 40px;
  text-align: center;
}

.meni{
  float: right;
  margin-top: 10px;
}
nav ul{
  list-style: none;
}

.meniopc{
  float: left;
}

.meniopc li{
  float: left;
  margin-right: 20px;
  font-family: 'Poppins';
}

.meniopc li button:hover{
  background-position: 500% 100%;
}

.meniopc li a{
  text-decoration: none;
  font-size: 18px;
  font-weight: normal;
  color: black;
  transition: 0.4s;
}

.meniopc li a:hover{
  color: #00baf2;
  transition: 0.4s;
}

.meniopc li a:last-child{
  margin-right: 25px;
}
/*Navigaotri kraj*/


/*Socijalni mediji pocetak*/
.social{
  display: inline-flex;
  margin-top: -6px;
}
.social .icon{
  margin: 0 10px;
  text-align: center;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}
.social .icon span{
  display: block;
  height: 40px;
  width: 40px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
  transition: 0.6s;
}

a{
  color: inherit;
}

.social .icon span i{
  line-height: 40px;
  font-size: 18px;
}

.social .icon:hover span{
  color: #fff;
  transition: 0.6s;
}
.social .facebook:hover span{
  background: #3B5999;
  transition: 0.6s;
}
.social .instagram:hover span{
  background: #e1306c;
  transition: 0.6s;
}
.social .youtube:hover span{
  background: red;
  transition: 0.6s;
}
/*Socijalni mediji pocetak*/

main{
  clear: both;
  font-family: 'Poppins';
  font-size: 18px;
}

.prvired{
  margin-bottom: 100px;
}

.prvired .prvilevi{
  margin-top: 145px;
  width: 50%;
  text-align: center;
  margin-bottom: 100px;
  float: left;
}

#pbold{
  font-family: 'Poppins Bold';
  margin-bottom: 20px;
  font-size: 20px;
  color: #00baf2;
}

.prvidesni{
  float: left;
  width: 50%;
}

.slajder{
  width: 675px;
  height: 504px;
  background-image: url(../slike/flasice-slike/flasice\ anim2.png);
  display: flex;
  justify-content: center;
  animation: slajd 12s infinite linear;
}

.slajder:hover{
  animation-play-state: paused;
}

@keyframes slajd{
  0%{background-position: 0 0;}
  100%{background-position: -2022px 0;}
}

.drugired{
  clear: both;
}

.drugilevi{
  float: left;
  width: 50%;
}

.drugilevi img{
  width: 525px;
  filter: drop-shadow(0.4rem 0.4rem 0.4rem rgba(0, 0, 0, 0.5));
}
.drugidesni{
  float: right;
  width: 50%;
  text-align: center;
  margin-top: 36px;
  margin-bottom: 100px;
}

#drugirednaslov{
  color: #00baf2;
  margin-bottom: 20px;
  font-family: 'Poppins Bold';
  font-size: 20px;
}

.drugiredpasus{
  margin-bottom: 10px;
}

.trecired{
  clear: both;
 
}

.trecilevi{
  float: left;
  width: 50%;
  text-align: center;
  margin-top: 65px;
  margin-bottom: 100px;
}

#trecirednalov{
  color: #00baf2;
  margin-bottom: 20px;
  font-family: 'Poppins Bold';
  font-size: 20px;
}

.treciredpasus{
  margin-bottom: 10px;
}

.trecidesni{
  float: right;
  width: 50%;
}

.trecidesni img{
  float: right;
  width: 525px;
  filter: drop-shadow(0.4rem 0.4rem 0.4rem rgba(0, 0, 0, 0.5));
}

.cetvrtired{
  clear: both;

}

.cetvrtilevi img{
  float: left;
  width: 525px;
  filter: drop-shadow(0.4rem 0.4rem 0.4rem rgba(0, 0, 0, 0.5));
  margin-bottom: 100px;
}

.cetvrtidesno{
  margin-top: 25px;
  float: right;
  width: 50%;
  text-align: center;
}

#cetvrtirednaslov{
  color: #00baf2;
  margin-bottom: 20px;
  font-family: 'Poppins Bold';
  font-size: 20px;
}

.cetvrtiredpasus{
  margin-bottom: 10px;
}

.petired{
  clear: both;
}

.petilevi{
  float: left;
  width: 50%;
  text-align: center;
  margin-top: 40px;
}

#petirednaslov{
  color: #00baf2;
  margin-bottom: 20px;
  font-family: 'Poppins Bold';
  font-size: 20px;
}

.petiredpasus{
  margin-bottom: 10px;
}

.petidesni{
  float: right;
  width: 50%;
  margin-bottom: 100px;
}

.petidesni img{
  float: right;
  width: 525px;
  filter: drop-shadow(0.4rem 0.4rem 0.4rem rgba(0, 0, 0, 0.5));
}

footer{
  height: 100%;
  clear: both;
  background-color: #e8edec;
  padding-top: 50px;
  padding-bottom: 15px;
}

footer p{
  text-align: center;
  font-family: 'Code Pro Bold';
  color: #00baf2;
  font-size: 35px;
  margin-bottom: 30px;
}

#fmal{
  font-family: 'Poppins';
  color: #000;
  font-size: 13px;
}

footer .social{
  display: flex;
  justify-content: center;
}


footer .social span{
  margin-right: 10px;
  margin-bottom: 35px;
}

#rights{
  display: flex;
  justify-content: center; 
  font-family: "Poppins";
  font-size: 15px;
  color: #000;
}